<a
  class="rounded-full border border-white/60 box-border
  inline-flex justify-center items-center gap-x-2
  py-1 px-2 md:py-2.5 md:px-4
  text-body text-xs md:text-sm font-medium leading-5
  focus:ring-4 focus:ring-cyan-500 focus:outline-none
  bg-cyan-950 hover:scale-110 hover:bg-cyan-500 hover:text-yellow-300
  transition swadow-xs"
  href={Astro.props.href}
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>
