<svg
  {...Astro.props}
  xmlns:xlink="http://www.w3.org/1999/xlink"
  viewBox="0 0 300 300"
  role="img"
>
  <title>SVGIcon</title>
  <g stroke="#000" stroke-
    ><g id="svg__svgstar" transform="translate(150 150)"
      ><path
        id="svg__svgbar"
        fill="currentColor"
        d="M-84.149-15.851a22.417 22.417 0 1 0 0 31.702H84.15a22.417 22.417 0 1 0 0-31.702Z"
      ></path><use xlink:href="#svg__svgbar" transform="rotate(45)"></use><use
        xlink:href="#svg__svgbar"
        transform="rotate(90)"></use><use
        xlink:href="#svg__svgbar"
        transform="rotate(135)"></use></g
    ></g
  ><use xlink:href="#svg__svgstar"></use></svg
>
