---
import "@fontsource-variable/onest";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "../styles/global.css";

interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="./favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div id="container">
      <Header />
      <slot />
    </div>
    <Footer />

    <script>
      import { updateGradient } from "../utils/gradient.js";

      window.addEventListener("load", updateGradient);
      window.addEventListener("resize", updateGradient);

      const observer = new ResizeObserver(updateGradient);
      observer.observe(document.body);
    </script>

    <style is:global>
      :root {
        color-scheme: light dark;
      }

      html {
        font-family: "Onest Variable", system-ui, sans-serif;
        scroll-behavior: smooth;
      }

      body {
        background-color: #5c2ed6;
        color: var(--color-white);
        display: flex;
        flex-direction: column;
        margin: 0;
      }

      #container {
        min-height: 100vh;
      }

      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }
    </style>
  </body>
</html>
